
<h1><%=@project.name()%></h1>

<% if @project.volunteers().any?() %>
  <h3>Here are all the volunteers in this project:</h3>

  <ul>
    <% @project.volunteers().each() do |volunteer| %>
      <li><%= volunteer.name() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no volunteers on this project!</p>
<% end %>

<h3>Add a volunteer to <%= @project.name() %> </h3>

<form action="/volunteers" method="post">
  <input id="project_id" name="project_id" type="hidden" value="<%= @project.id() %>">

  <label for="name">Description of the volunteer:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add volunteer</button>
</form>

<hr>

<div class="container">
  <p><a href="/projects/<%= @project.id() %>/edit">Edit <%= @project.name() %> project</a></p>
  <br>
  <a href="/">Home</a>
  <br>
  <a href="/projects">View All Projects</a>
  <br>
  <a href="/projects/new">Add New Project</a>
  <br>
</div>
