
<div>


<h1>Sign up now to volunteer for projects!</h1>
<form action="/projects" method="post">
  <label for="project_id">Select a List</label>
<select id='project_id' name='project_id' type='text'>
  
  <% @projects.each() do |project| %>
    <option value="<%= project.id()%>"> <%= project.name() %> </option>
  <% end %>
</select>
change
  <label for="name">Volunteer name:</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add volunteer</button>
</form>

</div>



<h1><%=@projects.name%></h1>

<% if @volunteers.any?() %>
  <h3>Here are your volunteers:</h3>

  <ul>
    <% @volunteers.each() do |volunteer| %>
    <% if volunteer.project_id == @projects.id %>
      <li><%= volunteer.name() %></a> </li>
      <% end %>
    <% end %>
  </ul>

<% else %>

    <p>There are no volunteers!</p>

<% end %>



<p><a href="/projects/<%= @projects.id() %>/edit">Edit <%= @projects.name() %> projects</a></p>
<p><a href="/">Return to Main Page</a></p>
